@model List<Lease>

<h2>My Slips</h2>

<table>
    <thead>
        <tr>
            <th>Slip ID</th>
            <th>Width</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lease in Model)
        {
            <tr>
                <td>@lease.Slip.ID</td>
                <td>@lease.Slip.Width</td>
                <td>@lease.Slip.Length</td>
            </tr>
        }
    </tbody>
</table>
