@model Marina.Models.Lease

@{
    ViewData["Title"] = "Remove Slip";
}

<div class="card shadow-lg border-0 mt-4">
    <div class="card-header bg-danger text-white text-center py-4">
        <h2 class="py-2">Remove Slip</h2>
    </div>
    <div class="card-body">
        <h4 class="py-2 text-danger">Are you sure you want to remove this slip?</h4>
        <div class="d-flex justify-content-around border rounded-3 p-3 mb-4 bg-light">
            <p><strong>Slip Slot:</strong> @Model.Slip.ID</p>
            <p><strong>Width:</strong> @Model.Slip.Width ft</p>
            <p><strong>Length:</strong> @Model.Slip.Length ft</p>
        </div>
        <form asp-action="RemoveConfirm" asp-controller="Lease" asp-area="Customer" method="post">
            <input type="hidden" name="id" value="@Model.ID" />
                <input type="submit" value="Remove" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
